[user]
	name = David Lyon
	email = dblyon@gmail.com
[alias]
	lol = log --oneline --graph --decorate
[core]
	excludesfile = /Users/dblyon/.gitignore_global
[merge]
	tool = p4merge
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	ff = only
